@media (min-width: 992px) {
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="df0521d2-c544-247a-19f8-b2532354563d"] {
      -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="018506cc-4efa-f8ae-fb77-56534e6b6477"] {
      -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="df0521d2-c544-247a-19f8-b2532354563b"] {
      -webkit-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="3f2e1cd5-d226-ebf1-01be-f4acc37fe94e"] {
      opacity: 0;
      display: none;
    }
  }
  @media (max-width: 991px) and (min-width: 768px) {
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="df0521d2-c544-247a-19f8-b2532354563d"] {
      -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="018506cc-4efa-f8ae-fb77-56534e6b6477"] {
      -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="df0521d2-c544-247a-19f8-b2532354563b"] {
      -webkit-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="3f2e1cd5-d226-ebf1-01be-f4acc37fe94c"] {
      opacity: 0.4;
      border-color: rgba(255, 255, 255, 0.3);
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="3f2e1cd5-d226-ebf1-01be-f4acc37fe94e"] {
      opacity: 0;
      display: none;
    }
  }
  @media (max-width: 767px) and (min-width: 480px) {
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="df0521d2-c544-247a-19f8-b2532354563d"] {
      -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="018506cc-4efa-f8ae-fb77-56534e6b6477"] {
      -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="df0521d2-c544-247a-19f8-b2532354563b"] {
      -webkit-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="3f2e1cd5-d226-ebf1-01be-f4acc37fe94c"] {
      opacity: 0.4;
      border-color: rgba(255, 255, 255, 0.3);
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="3f2e1cd5-d226-ebf1-01be-f4acc37fe94e"] {
      opacity: 0;
      display: none;
    }
  }
  @media (max-width: 479px) {
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="df0521d2-c544-247a-19f8-b2532354563d"] {
      -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="018506cc-4efa-f8ae-fb77-56534e6b6477"] {
      -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="df0521d2-c544-247a-19f8-b2532354563b"] {
      -webkit-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="3f2e1cd5-d226-ebf1-01be-f4acc37fe94c"] {
      opacity: 0.4;
      border-color: rgba(255, 255, 255, 0.3);
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="3f2e1cd5-d226-ebf1-01be-f4acc37fe94e"] {
      opacity: 0;
      display: none;
    }
  }